@layer components {

    .btn {
        @apply inline-flex items-center justify-center normal-case font-bold font-heading px-8 pt-5 pb-4 text-base leading-none max-h-60 !text-white !h-auto;

        svg {
            @apply relative top-[-1px];
        }
    }
    .h1 {
        @apply font-heading font-black leading-xtight text-[#001e1d] text-4xl md:text-5xl lg:text-5.5xl;
    }
    .h2 {
        @apply font-heading font-black leading-xtight text-[#001e1d] text-3.5xl md:text-4.5xl lg:text-5xl;
    }
    .h3 {
        @apply font-heading font-black leading-tight text-[#001e1d] text-2xl md:text-3xl lg:text-4xl;
    } 
    .h4 {
        @apply font-heading font-black leading-tight text-[#001e1d] text-2xl md:text-2.5xl lg:text-3xl;
    }
    .h5 {
        @apply font-heading font-black leading-snug text-[#001e1d] text-xl md:text-xl lg:text-2xl;
    }
    .h6 {
        @apply font-heading font-black leading-snug text-[#001e1d] text-lg md:text-lg lg:text-xl;
    }
    .text-size-large {
        @apply text-xl
    }
    .text-size-medium {
        @apply text-lg
    }
    .text-size-small {
        @apply text-sm
    }
    .text-size-tiny {
        @apply text-xs
    }
    .subtitle {
        @apply text-sm font-bold uppercase tracking-widest text-emerald-600 sm:text-base
    }

    .mask {
        -webkit-mask-position: top;
        mask-position: top;
    }
    .mask.mask-hexagon {
        mask-image: url('../img/hexagon.svg');
    }

    .masonry-item {
        page-break-inside: avoid;

        img {
            @apply w-full h-auto;
        }
    }
    .badge {
        @apply py-3 !text-white;
    }
    .link {
        @apply font-manrope;

        &:not(.underline) {
            @apply no-underline text-inherit;

            &:hover,
            &:focus {
                @apply underline;
            }
        }
    }
    .container {
        @apply mx-auto;
    }

    .hyphens-none {
        hyphens: none;
    }

    .hyphens-manual {
        hyphens: manual;
    }

    .hyphens-auto {
        hyphens: auto;
    }
    .smhidden {
        @apply flex sm:hidden !important;
    }

    .mdhidden {
        @apply flex md:hidden !important;
    }

    .lghidden {
        @apply flex lg:hidden !important;
    }

    .xlhidden {
        @apply flex xl:hidden !important;
    }
}